.book-list-item {
    display: flex;
    margin: 1.5rem 0;
}

.book-list-item .book-cover {
    flex-shrink: 0;
    width: 14rem;
    margin-right: 3rem;
}

.book-list-item .book-cover img {
    max-width: 100%;
}

.book-list-item .book-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
    align-items: flex-start;
}

.book-list-item .book-details .book-title {
    font-size: 1.2rem;
}

.book-list-item .book-details .book-price {
    font-size: 1.4rem;
}
